body{
    background: black;
}

.box{
    position: relative;
    height: 50px;
    width: 50px;
    margin: 5px;
    display: inline-block;
    color:white;
    text-align: center;
    font-size: 20px;
}
.red{
    background: #740B0B;
}
.blue{
    background: #225751;
}

.green{
    background: green;
}

.yellow{
    background: yellow;
}

.black{
    background: #BAAEBA;
}

.purple{
    background: #D11B8F;
} 

.megenta{
    background: #984A56;
}

.pink{
    background: #5F298E;
}

.rose{
    background: #2873AA;
}